<footer class="site-footer">
    <div class="container footer-grid">
        <div class="footer-brand">
            <img src="./images/logo_fcpc.jpg" alt="Footer Logo" class="footer-logo modal-trigger">
            <h4>First City Providential College</h4>
            <p>City of San Jose del Monte,<br>Bulacan, Philippines</p>
        </div>
        <div class="footer-links">
            <h4>Useful Links</h4>
            <a class="info-links" href="#">Associate Portal</a>
            <a class="info-links" href="#">ESS Portal</a>
        </div>
        <div class="footer-contact">
            <h4>Contact Us</h4>
            <p>📞 +63 917 777 5989</p>
            <a class="info-links" href="index.html#"><p>✉️ info@fcpc.edu.ph</p></a>
        </div>
    </div>
</footer>
<button id="scroll-top" aria-label="Scroll to top">↑</button>